.logo,
.splash {
    background-color: #000000;

    background-image: url("400.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

.logo::after {
    content: "Loading... please wait";
}

.splash::after {
    content: "Streamant is Ready to Play";
}

.logo::after,
.splash::after {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;

    color: #CACCCA;       /* <-- CHANGE THIS COLOR */
}